extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Explore the fascinating world of Animal Diversity, where you can discover a wide range of species and ecosystems. Learn about the incredible variety of animals that inhabit our planet and the importance of preserving their habitats and biodiversity.
