extends layout

block content
  .row.page-header
    .col-lg-12 
      h1 Animal Diversity
  img.img-fluid(src='https://source.unsplash.com/1600x1600/?Animal', alt='Animal Diversity Image', style='margin: 10px; max-width: 100%; height: auto;')
