extends layout

block content
  #banner.page-header
    .row
      .col-lg-6 
        h1
          | Animal Diversity 
          small &nbsp;Explore the Fascinating World of Animals!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') National Geographic Wildlife
            small &nbsp;
               
          
          p.address Discover the Wonders of Animal Kingdom
          
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Wildlife Conservation Society 
            small &nbsp;
               
         
          p.address Protecting and Celebrating Biodiversity
           
        .col-xs-12.list-group-item
          h4
            a(href='/location2') World Wildlife Fund 
            small &nbsp;
               
      
          p.address Working to Conserve Wildlife and Habitats
           
    .col-xs-12.col-sm-4
      p.lead
        | Explore the diverse world of animals and their habitats with online resources dedicated to Animal Diversity. Learn about the incredible variety of species, conservation efforts, and the importance of preserving our planet's biodiversity.
